/* Control slide properties */
.slides > article {
    width: 1000px;
    height: 700px;
}

/* Reduce space between title and body */
slides > slide > hgroup + article {
    margin-top: 15px;
}

/* Reduce padding at the top */
body {
    padding-top: 20px;
    padding-bottom: 60px;
}

/* Control title styles */
.title {
/*    font-size: 22px; */
    line-height: 3;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
/*    background-color: #3333CC; */
    color: #FFFFFF;
}

/* Control subtitle styles */
.subtitle {
    font-size: 18px;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

/* Control author styles */
.author {
    font-size: 18px;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 0px;
}

/* Control elements of iframe (5 x 7.5) */
iframe {
    margin-top: 10px;
    width: 825px;
    height: 550px;
    border: 0;  /* remove border */
    overflow-x: hidden;  /* prevent scrolling */
    overflow-y: scroll;  /* prevent scrolling */
}

/* h3 + iframe appears to control iframe in slide near title */
h3 + iframe {
    margin-top: 10px;
    width: 825px;
    height: 550px;
    padding: 0px 0px 0px 0px;
}

/* fix h3 padding to allow longer titles */
h3 {
    padding: 0px 0px 0px 0px;
    line-height: 25px;
}

/* Control elements of sourced images */
img {
    width: 796px; 
    height: 468px;
}

/* Create a footer/footnote element */
.footnote {
    position: absolute;
    bottom: 10px;
    left: 30px;
    right: 30px;
    font-size: 10pt; 
    letter-spacing: 0px;
    text-align: right;
    vertical-align: text-bottom;
    z-index: 10;
}

/* Control figcaption element */
.figcaption {
    width: 100%;
    line-height: 30px;
    letter-spacing: 0px;
    font-size: 16pt;
    text-align: justify;
    text-justify: inter-word;
}


