/* Control slide properties */
.slides > article {
    width: 1000px;
    height: 700px;
}

/* Reduce space between title and body */
slides > slide > hgroup + article {
    margin-top: 15px;
}

/* Reduce padding at the top */
body {
    padding-top: 20px;
    padding-bottom: 60px;
}

/* Control title styles */
.title {
/*    font-size: 22px; */
    line-height: 3;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
/*    background-color: #3333CC; */
    color: #FFFFFF;
}

/* Control subtitle styles */
.subtitle {
    font-size: 18px;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

/* Control author styles */
.author {
    font-size: 18px;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 0px;
}

/* Control elements of iframe (5 x 7.5) */
iframe {
    margin-top: 10px;
    padding: 0px;
    margin: 0px;
    width: 850px; 
    height: 516px;
    border: 0;  /* remove border */
    overflow-x: hidden;  /* prevent scrolling */
    overflow-y: scroll;  /* prevent scrolling */
}

/* h3 + iframe appears to control iframe in slide near title */
h3 + iframe {
    margin-top: 10px;
    padding: 0px;
    margin: 0px;
    width: 830px; 
    height: 516px;
}

/* fix h3 padding to allow longer titles */
h3 {
    padding: 0px 0px 0px 0px;
    line-height: 20px;
    letter-spacing: 0px;
}

/* Control elements of sourced images */
img {
    width: 796px; 
    height: 468px;
    font-size: 10px;  /* reduce space below slide title */
    vertical-align: top;
}

/* Reduce space between title and body */
figure {
    width: 796px; 
    height: 468px;
    font-size: 10px;  /* reduce space below slide title */
    vertical-align: top;
}

/* Increase font size for rCharts */
svg text {
  font-size: 30px; /* Not working! */
}

/* Control figcaption element */
.figcaption {
/*    position: absolute; messes things up */ 
    display: inline-block;
    width: 100%;
    padding: 20px 0px 0px 0px;
    font-size: 16pt;
    line-height: 1.5;
    letter-spacing: 0px;
    text-align: justify;
    text-justify: inter-word;
}
.figcaptioncompact {
    display: inline-block;
    width: 100%;
    padding: 20px 0px 0px 0px;
    font-size: 13pt;
    line-height: 1.2;
    letter-spacing: 0px;
    text-align: justify;
    text-justify: inter-word;
}

/* Control icaption element */
.icaption {
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: -10px 0px 0px 0px;
    font-size: 14pt;
    line-height: 1.5;
    letter-spacing: 0px;
    text-align: justify;
    text-justify: inter-word;
    vertical-align: top;
}
.icaptioncompact {
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: -10px 0px 0px 0px;
    font-size: 12pt;
    line-height: 1.2;
    letter-spacing: 0px;
    text-align: justify;
    text-justify: inter-word;
    vertical-align: top;
}

/* Create a footer/footnote element */
.footnote {
    position: absolute;
    display: inline-block;
    width: 796px;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 8pt; 
    letter-spacing: 0px;
    text-align: right;
}
