/* Reduce space between title and body */
slides > slide > hgroup + article {
  margin-top: 15px;
}

/* Reduce padding at the top */
body {
    padding-top: 20px;
    padding-bottom: 60px;
}

/* Control title styles */
.title {
/*  font-size: 22px; */
  line-height: 3;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
/*  background-color: #3333CC; */
  color: #FFFFFF;
}

/* Control subtitle styles */
.subtitle {
  font-size: 18px;
  line-height: 1.1;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

/* Control author styles */
.author {
  font-size: 18px;
  line-height: 1.1;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 0px;
}

/* Remove border from iframe element and prevent scrolling */
iframe {
    border: 0;
    overflow-x: hidden;  # not working?
    overflow-y: scroll;  # not working?
}

/* Control elements of rChart */
 .rChart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 400px;
    overflow-x: hidden; # not working? 
    overflow-y: scroll; # not working?
} 

.title-slide {
  font-size: 9pt; 
  background-color: #CBE7A5; /* #EDE0CF; #CA9F9D; #EF5150;*/
}
.title-slide hgroup > h1{
  font-family: 'Oswald', sans-serif;
  font-size: 9pt;
  color: #535E43 ;
}
.title-slide hgroup > h2{
  font-family: 'Oswald', 'Calibri', sans-serif; 
  font-size: 9pt;
}

