/* Styles for io2012 framework */
/* 1. Copy custom.css to e.g. libraries/frameworks/io2012/css */
/* 2. Edit libraries/frameworks/io2012/partials/head.html and insert
   <link rel="stylesheet" href="{{page.url.framework}}/css/custom.css"/> */
/* Remark: The name io2012.css appears to be disallowed! */

/* Remove color gradient at bottom of slides */
slides > slide.backdrop {
  z-index: -10;
  display: block !important;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(85%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(#ffffff, #ffffff 85%, #ffffff);
  background: -moz-linear-gradient(#ffffff, #ffffff 85%, #ffffff);
  background: -o-linear-gradient(#ffffff, #ffffff 85%, #ffffff);
  background: -ms-linear-gradient(#ffffff, #ffffff 85%, #ffffff);
  background: linear-gradient(#ffffff, #ffffff 85%, #ffffff);
  background-color: white;
}

/* Control font */
article p, article li, article li.build, section p, section li {
    font-family: 'Open Sans','Helvetica', 'Crimson Text', 'Garamond', 'Palatino', sans-serif;
    text-align: justify;
    font-size: 1.05em;
    line-height: 1.5em;
    color: #444;
}

/* Set style for emphasis */
em {
  font-style: italic
}

/* Set style for strong */
strong {
  font-weight: bold;
}

/* Control font used for general slide title */
.title-slide hgroup > h1 {
    font-size: 1.8em;
    line-height: 1.6;
    letter-spacing: -3px;
    font-weight: 600;
    color: #535E43;
}

/* Control font used for general slide subtitle */
.title-slide hgroup > h2 {
    font-size: 1.2em;
    line-height: 1;
    letter-spacing: -2px;
    font-weight: 700;
    color: #535E43;
}

/* Control font used for general slide author */
.title-slide hgroup p {
    font-size: 1em;
    line-height: 1;
    letter-spacing: -1px;
    font-weight: 600;
    color: #797979;
}

/* Control font used for frame titles */
h3 {
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.8;
    color: #333;
}

/* Raise frame title */
hgroup {
    margin-top: -.8em;
}

/* Raise elements below slide title */
slides > slide > hgroup + article {
    margin-top: .5em;  /* slidify sets 15px */
}

/* Control sourced images */
img {
    width: auto;
    height: auto;
    max-width: 1000px !important; 
    max-height: 500px !important;
    vertical-align: top;
}

/* Control figure environment */
figure {
    width: auto;
    height: auto;    
    max-width: 1000px !important; 
    max-height: 500px !important;
    vertical-align: top;
}

/* Control figcaption element attached to figure environment */
.figcaption {
    display: inline-block;
    width: 85%;  /* relative to figure size */
    margin: 0em;
    padding: 1em 0em 0em 0em;
    font-size: .8em;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: justify;
    text-justify: inter-word;
}
.figcaptioncompact {
    display: inline-block;
    width: 85%;
    margin: 0em;
    padding: 1em 0em 0em 0em;
    font-size: .6em;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: justify;
    text-justify: inter-word;
}

/* Control centered image environment */
.centered {
    text-align: center;
}

/* Control figure environment with attached caption */
.captioned {
    text-align: center;
    max-height: 450px !important;
}

/* Control iframe element used to source rCharts */
iframe {
    padding: 0em;
    margin: 0em;
    width: 1000px !important; 
    height: 470px !important;
    border: 0;
    overflow-x: hidden;  /* prevent scrolling */
    overflow-y: scroll;  /* prevent scrolling */
}

/* Control icaption element used with iframe element*/
.icaption {
    display: inline-block;
    width: 93%;
    padding: 0em;
    margin: 0em 0em 0em 0em;
    font-size: .75em;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: justify;
    vertical-align: top;
}
.icaptioncompact {
    display: inline-block;
    width: 93%;
    padding: 0em;
    margin: 0em 0em 0em 0em;
    font-size: .6em;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: justify;
    vertical-align: top;
}

/* Set inserted iframe axis text size */
/* Still searching, not working */
/* Tried svg text, g.nv-y.nv-axis, g.nv-axislabel, g.nvd3, .rChart .nvd3 , etc. */
.nvd3 .nv-axis .nv-axisMaxMin text {
  font-size: 50px !important;
}

/* Create a footer/footnote element */
.footnote {
    position: absolute;
    display: inline-block;
    width: 90%;
    bottom: 1%;
    padding: 0em;
    margin: 0em;
    font-size: .5em; 
    letter-spacing: 0em;
    text-align: center;
}

/* Insert image into the title slide */
/* io2012 looks relative libraries/frameworks/io2012/css*/
.cover-slide {
    background-image: url(../../../../images/capital21c_mosaic.png);
    background-size: 25em;
}
